* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    position: relative;
    z-index: 1;
}

section{
    margin-top: 80px;
    padding-bottom: 80px;
}

.flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
